/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug{
  border: 1px solid red;
}

/* General */
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* border: 1px solid violet; */
}

.row{
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  row-gap: 0;

  overflow: hidden;
}
.primary > img{
  width: 700px;
  height: 305px;
  object-fit: cover;
}
.thumb-container{
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  column-gap: 0;
  /* border: 1px solid blue; */
}
.secondary > img{
  display: block;
  width: 130px;
  height: 60px;
  object-fit: cover;
}

.active{}
.overlay{}